body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;

  flex-shrink: 0;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.main-content-wrapper {
  position: relative;
}

/* Language switcher */
.language-switcher {
  position: absolute;
  color: #595959;
  right: 0;
  margin: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcher {
  position: relative;
  width: 30px;
  cursor: pointer;
}

.switcher::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 15px;
  background: #595959;
  border-radius: 25px;
}

.switcher:checked::before {
  background: #6d9bf5;
}

.switcher::after {
  content: '';
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 25px;
  transition: 0.25%;
  border: 2px solid #595959;
  box-sizing: border-box;
}

.switcher:checked::after {
  left: 12px;
  border: 2px solid #6d9bf5;
}

/* Main content */
.main-content {
  padding: 40px 40px 40px 36px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* About me */
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 16px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  margin: 0 0 16px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-align: justify;
  /* width: 525px; */
}

.about-me-container {
  margin-bottom: 32px;
}

/* My projects */
.project-name {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: #6d9bf5;
  margin: 12px 0 8px 0;
}

.project-description {
  margin: 0;
  padding: 0;
}

.project-description li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 28px;
  text-align: justify;
  padding-bottom: 4px;
}

.project-description li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
}

.project-container {
  margin-bottom: 16px;
}

.projects-container {
  margin-bottom: 32px;
}

/* Education */
.education-place {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 12px 0 8px 0;
}

.education-specialty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/* Sidebar */
.sidebar {
  background: #e0ebfe;
  margin: 0;
}

.sidebar-content {
  padding: 0;
  margin: 0;
}

.contacts-container,
.skills-container {
  margin: 28px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts container */
.contacts-item {
  /* position: relative; */
  margin: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
}

.contacts-type {
  background-color: #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #161d2a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-type.black {
  background-color: #161d2a;
}

.fa-phone-alt {
  font-size: 13px;
  color: #ffffff;
}
.fa-envelope {
  font-size: 13px;
  color: #ffffff;
}

.fa-telegram {
  font-size: 20px;
}

.fa-github {
  font-size: 20px;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  color: #161d2a;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2979ff;
  margin-left: 8px;
  text-decoration: none;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #2979ff;
  margin-left: 8px;
  text-decoration: none;
}

/* Tech  & Soft skills containers */
.skills-row {
  margin: 0;
  padding: 0;
}

.sidebar-list {
  margin: 0;
  padding: 0;
}

.sidebar-list li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-left: 16px;
}

.sidebar-list li::marker {
  color: #6d9bf5;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

/* Adaptive size */
@media screen and (max-width: 1296px) {
  .wrapper {
    width: 100%;
  }
  .my-descr {
    width: 100%;
  }
  .language-switcher {
    margin: 20px;
  }
}

@media screen and (max-width: 1035px) {
  .main-content {
    padding: 56px 36px 36px 24px;
  }

  .contacts-container,
  .skills-container {
    margin-left: 36px;
  }

  .my-photo {
    width: 275px;
  }
  .language-switcher {
    margin: 20px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column-reverse;
  }

  .language-switcher {
    margin: 24px;
  }

  .main-content {
    padding: 24px;
  }

  .sidebar {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 24px 24px 0 24px;
  }
  .sidebar-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .my-photo {
    margin: 0;
    width: 275px;
    margin-right: 16px;
  }

  .contacts-container {
    margin: 8px 0 20px 0;
  }

  .skills-container {
    margin: 0 0 20px 20px;
  }

  .sidebar-title {
    margin: 0 0 8px 0;
  }
}

@media screen and (max-width: 688px) {
  body {
    padding: 0;
  }
  .sidebar {
    flex-direction: column;
    align-items: center;
  }
  .my-photo {
    margin: 0 0 16px 0;
    width: 350px;
  }

  .contacts-wrapper,
  .sidebar-content {
    flex-direction: column;
    width: 350px;
  }

  .contacts-container,
  .skills-container {
    margin: 0 0 16px 0;
  }
}

.hidden {
  display: none;
}
