body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
  padding: 40px;
}

.wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: row-reverse;
  background-color: #ffffff;
  width: 1200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

/* Main content */
.main-content {
  padding: 88px;
}

.main-content-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin: 0 0 8px 0;
}

/* About me */
.my-profession {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 18px 0;
}

.my-name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin: 0 0 28px 0;
}

.my-descr {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 525px;
}

.about-me-container {
  margin-bottom: 64px;
}

/* My projects */
.sourse-item {
  margin: 0;
  padding: 0;
}

.sourse-item li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 16px;
}

.sourse-item li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #005fff;
  margin-left: 12px;
}

.sourse-item li::marker {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.projects-container {
  margin-bottom: 48px;
}

/* Work Experience */
.company-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 12px 0 12px 0;
}

.company-name {
  color: #6d9bf5;
}

.work-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.company-duties {
  margin: 0;
  padding: 0;
}

.company-duties li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding-left: 12px;
  margin-left: 16px;
}

.work-place-container {
 margin-bottom: 16px;
}

.work-experience-container {
  margin-bottom: 44px;
}

/* Education */
.education-place {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #6d9bf5;
  margin: 12px 0 12px 0;
}

.education-specialty {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}

.education-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

/* Sidebar */
.sidebar {
  background: #e0ebfe;
  margin: 0;
}

.my-photo {
  margin-top: 40px;
}
 
.sidebar-content{
  padding: 0;
  margin: 0;
}

.contacts-container,
.skills-container {
  margin: 48px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}

/* Contacts container */
.contacts-item {
  margin: 0;
}

.contacts-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 8px;
}

.contacts-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-right: 8px;
  text-decoration: none;
}

.contacts-email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2979ff;
  margin-right: 8px;
}

/* Tech  & Soft skills containers */
.skills-row {
  margin: 0;
  padding: 0;
}

.sidebar-list {
  margin: 0 ;
  padding: 0;
}

.sidebar-list li {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  margin-left: 16px;
}

.sidebar-list li::marker {
  color: #6d9bf5;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

/* Adaptive size */
@media screen and (max-width: 1270px) {
  .wrapper {
    width: 100%;
  }
  .my-descr {
    width: 100%;
  }
}

@media screen and (max-width: 995px) {
  .main-content {
    padding: 40px;
  }
  .my-photo {
    width: 275px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column-reverse;
  }
  .sidebar {
    display: flex;
    align-items: flex-start;
    padding: 20px 20px  0 20px;
  }
  .sidebar-content {
    display: flex;
    flex-wrap: wrap;
  }
  .my-photo {
    margin: 0;
  }
  .contacts-container, .skills-container {
    margin: 0 0 20px 20px;
  }
  .sidebar-title {
    margin: 0 0 0 10px;
  }
  .skills-row {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 680px) { 
  body {
    padding: 0;
  }
  .sidebar {
    flex-direction: column;
    align-items: center;
  }
  .my-photo {
    margin-bottom: 20px;
    width: 350px;
  }
  .sidebar-content {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) { 
  .main-content {
    padding: 40px 16px 40px 16px;
  }
  .skills-row {
    flex-direction: column;
  }
  .sidebar-content {
    align-items: flex-start;
  }
}
